<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Miage calculator</title>
       <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <meta charset="UTF-8">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.min.js"></script>
        <script src="action.js" type="text/javascript"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body ng-app="MonApp">
        <div class="ml-3 mr-3 alert alert-dark" role="alert">
             MIAGE Calculator
        </div>
        <div class="container">
            <div class="col">
                <form ng-controller="monController1">
                    <div class="row form-group">
                        <label class="col-12  col-form-label">*Op 1:</label>
                        <div class="col">
                            <input   ng-model="op1"  type="number" class="form-control" id="op1" name="op1" >
                        </div>
                        
                    </div>
                    <div class="row form-group">
                        <label class="col-12 col-form-label">*Op 2:</label>
                        <div class="col">
                            <input    ng-model="op2" type="number" class="form-control" id="op2" name="op2">
                        </div>
                    </div>
                    
                    <div class="row form-group" >
                        <label class="col-12 col-form-label">Resultat</label>
                        <div class="col" >
                            <input    ng-model="res" type="number" class="form-control" id="Resultat"  Disabled >
                        </div>
                
                    </div>
                    <div class="row form-group">
                        
                      <button ng-click="add()" type="button" class="ml-3 mr-3 btn-lg-12 btn-primary btn-12 btn-block form-control ">+</button>
                       
                      <button  ng-click="mult()" type="button" class="ml-3 mr-3 btn-lg-12 btn-primary btn-12 btn-block">*</button>
                      <button ng-click="diff()" type="button" class="ml-3 mr-3 btn btn-primary btn-12 btn-block">-</button>
                      <button ng-click="div()" type="button" class="ml-3 mr-3 btn btn-primary btn-12 btn-block">/</button>
                     
                    </div>
                            
         
                 
                    <div class="row">
                        <button ng-click="memoriser()" type="button" class="ml-3 mr-3 btn btn-success btn-lg btn-block">Mémoriser</button>
                        <button ng-click="recharger()" type="button" class="ml-3 mr-3  btn btn-success btn-lg btn-block">Charger en mémoire</button>
                    </div>
                   
                    <div class="row form-group">
                        <label class="col-12 col-form-label">En mémoire</label>
                        <div class="col">
                            <input ng-model="memoire" type="number" class="form-control" id="memoire" disabled>
                        </div>
                    </div>
                 </form>  
                <form ng-controller="monControlleur2">
                    <div   class="ml-3 mr-3  alert alert-warning" role="alert">
                             Mes dix dernières opérations
                     </div>
                    <br>
                    <div  ng-model="val" class="ml-3 mr-3  alert alert-warning" role="alert">
                            {{val}}
                     </div>
                    <br>
                     <div  ng-repeat="p in hist()" class="ml-3 mr-3 alert alert-dark" role="alert">
                             {{p.op1+" "+p.op+" "+p.op2+"="+p.res}}
                     </div>
                </form>
                    
            </div>
           
        </div>
    </body>
</html>
